{% extends 'base.html.twig' %}
{% block title %}User fast search{% endblock %}
{% set csrf = csrf_token(constant('App\\Controller\\SearchController::CSRF_KEY')) %}

{% block body %}
<div class="search-page">

    <div class="search-container home-mode">
        <div class="search-body mb-4">
            <div class="d-flex">
                <span class="page-title">User fast search</span>
                <img class="loader-small" id="search-loader" src="/images/loader-small.gif">
            </div>

            <div class="search-box">

                <div class="input-group" id="search-input-group">
                    <input type="text" id="search-pattern" name="searchPattern"
                           class="form-control search-input"
                           aria-label="Search ..."
                           maxlength="50"
                           placeholder="{{ 'Search a name or an email' }}"
                    >

                    <i class="fas fa-search search-icon"></i>

                    <button type="button" class="close btn-no-outline" id="reset-search">
                        <i class="fas fa-times"></i>
                    </button>

                    <div class="input-group-append">
                        <button type="button" id="search-button" class="btn btn-secondary btn-no-outline">{{ 'Search' }}</button>
                    </div>
                </div>

                <div id="search-empty-error" class="d-none error"><label class="error" for="search-pattern" style="display: inline-block;">Please enter your search.</label></div>
                <div id="search-min-error" class="d-none error"><label class="error" for="search-pattern" style="display: inline-block;">Please enter at least 2 characters.</label></div>
            </div>

            {{ include('search/filters.html.twig') }}

        </div>

        {{ include('search/results.html.twig') }}

    </div>
</div>

{% endblock %}

{% block footer_scripts %}

    <script type="text/javascript">
        const search = new Search({
                form: "{{ csrf }}",
            },
            {
                search: "{{ url(constant('App\\Controller\\SearchController::SEARCH_ACTION')) }}",
                runIndex: "{{ url(constant('App\\Controller\\SearchController::RUN_INDEX_ACTION')) }}",
            });

        $(document).ready(() => {
            search.init();
        });
    </script>

{% endblock %}