{% extends 'base.html.twig' %}
{% block title %}User fast search{% endblock %}
{% set csrf = csrf_token(constant('App\\Controller\\SearchController::CSRF_KEY')) %}

{% block body %}
<div class="search-container home-mode">
    <div class="search-body">
        <span class="page-title">User fast search</span>

        <div class="search-box">
            <form name="search-form"
                  action="{{ url(constant('App\\Controller\\SearchController::SEARCH_ACTION')) }}"
                  method="post">
{#                <input type="hidden" name="_csrf_token" value="{{ searchPatientCsrf }}" >#}

                <div class="input-group" id="search-input-group">
                    <input type="text" id="search-pattern" name="searchPattern"
                           class="form-control search-input"
                           aria-label="Search ..."
                           maxlength="50"
                           placeholder="{{ 'Search a name or an email' }}"
                    >

                    <i class="fas fa-search search-icon"></i>

                    <button type="button" class="close" id="reset-search">
                        <i class="fas fa-times"></i>
                    </button>

                    <div class="input-group-append">
                        <button type="submit" class="btn btn-secondary">{{ 'Search' }}</button>
                    </div>
                </div>
                <div class="error" id="search-pattern-error"></div>
            </form>
        </div>


    </div>
</div>
{% endblock %}

{% block footer_scripts %}

    <script type="text/javascript">
        const search = new Search({
                form: "{{ csrf }}",
            },
            {
                runIndex: "{{ url(constant('App\\Controller\\SearchController::RUN_INDEX_ACTION')) }}",
            });

        $(document).ready(() => {
            search.init();
        });
    </script>

{% endblock %}