<div id="search-no-result" class="d-none">No result found.</div>

<div id="search-result" class="d-none">
    <div>
        <table id="search-results-table" data-toggle="table">
            <thead>
            <tr>
                <th data-field="full_name">{{ 'Name' }}</th>
                <th data-field="mail" data-width="160">{{ 'Mail' }}</th>
                <th data-field="name">{{ 'Username' }}</th>
                <th data-field="region">{{ 'Region' }}</th>
                <th data-field="department">{{ 'Department' }}</th>
                <th data-field="score">{{ 'Score' }}</th>
            </tr>
            </thead>
        </table>
    </div>
</div>